.Process{
  input[type="radio"] {
    display: none;
  }
  label{
    position: relative;
    cursor: pointer;
    width: 100%;
    padding: 0 1rem;
  }
  label:after{
    position: absolute;
    right: -4vw;
    transform: translate(0%, -20%);
  }
  input[type="radio"]:checked + label::after {
    content: "✓";
  }
}
