.Container {
  position: relative;
  display: flex;
  align-items: center;
  width: 90vw;
  flex-direction: column;
  justify-content: space-between;
  footer{
    Button{
        background-image: url("../../assets/svgs/startbutton.svg") ;
        background-repeat: no-repeat;
        background-size: 100%;
        padding: 1.3vw 7.5vw;
        font-size: 64px;
    }
  }
  header {
    display: flex;
    flex-direction: column;
    color: #ff0000;
    font-style: normal;
    font-size: 82px;
    text-align: center;
  }

  section {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    .Score {
      padding: 1rem;
      display: flex;
      flex-direction: column;
    }
    .Process {
      padding: 1rem;
      display: flex;
      flex-direction: column;
      margin-right: 40px;
    }
  }
  
}
